[Desktop Entry]
Comment=Traffic
Terminal=false
Name=Traffic
URL=http://localhost:5000
Exec=chromium-browser
Type=Link
Icon=/usr/share/pixmaps/chromium-browser.png
